<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/img2.jpg" class="d-block rounded mx-auto" alt="Second slide" width="100%" height="300px">
            <div class="carousel-caption d-none d-md-block">
                <h4>Chào mừng các chiến binh trở lại</h4>
                <h5>Quansnet rất vui khi được đón anh em trở lại sau dịch Covid-19 vô cùng khó khăn</h5>
                <p>Để cảm ơn anh em đã quan tâm và ủng hộ trong suốt thời gian qua và đặc biệt thời gian dịch bệnh khó khăn này, Vikings sẽ có những chương trình khuyến mãi cực độc đáo dành cho anh em nhé</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/img1.jpg" class="d-block rounded mx-auto" alt="First slide" width="100%" height="300px">
            <div class="carousel-caption d-none d-md-block">
                <h4>Khuyến mại 100%</h4>
                <h5>Khuyến mãi 100% dành cho khách hàng mới</h5>
                <p>Chỉ áp dụng cho 2 lần nạp đầu tiên (Nạp tối thiểu 50k).</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/img3.jpg" class="d-block rounded mx-auto" alt="Third slide" width="100%" height="300px">
            <div class="carousel-caption d-none d-md-block ">
                <h4>Khu Play Station Pro đẳng cấp, chất lượng</h4>
                <h5>PS Vikings Area sở hữu những điều kiện cao cấp nhất để mang tới trải nghiệm tuyệt vời cho các anh em chiến mọi tựa game đình đám của nhà sản xuất Sony.</h5>
                <p>Không gian riêng biệt, màn hình 4K 50 inch cao cấp, ghế xofa, bàn đặt chất lượng cao cùng dịch vụ 5 sao đẳng cấp, một lựa chọn hoàn hảo cho các anh em phá đảo mọi tựa game cùng chiến hữu.</p>
            </div>
        </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="sr-only">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
    </div>
</div>

<div class="card-group">
  <div class="card margin-2rem margin-left-4rem">
    <img src="img/01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cấu hình PC cực mạnh</h5>
      <p class="card-text">PC của Quansnet đều được trang bị cấu hình cực mạnh, màn hình chủ yếu từ 144Hz đến 240Hz đi kèm gaming gears đẳng cấp, cân mọi tựa game online, offline thịnh  hành. </p>
    </div>
  </div>
  <div class="card margin-2rem">
    <img src="img/02.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Menu đồ ăn đồ uống phong phú</h5>
      <p class="card-text">Đi cùng bạn gái, thiếu mana sau các trận đấu căng thẳng, ko còn lo lắng nữa. Quansnet có đầy đủ menu ăn uống cho các bạn thoải mái lựa chọn. </p>
    </div>
  </div>
  <div class="card margin-2rem margin-right-4rem">
    <img src="img/03.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Không gian Game chuyên nghiệp</h5>
      <p class="card-text">Đến với Vikings, khách hàng có thể hòa mình vào không gian game chuyên nghiệp đi kèm dịch vụ 5 sao, mát mẻ, chất lượng.</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card margin-2rem margin-left-6rem">
    <img src="img/04.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tài khoản game tự chọn</h5>
      <p class="card-text">Tại Quansnet bạn có thể tự chọn tài khoản game với những tài khoản Vip, nhiều thuộc tính đặc biệt, với giá cả đầy phải trăng. </p>
    </div>
  </div>
  <div class="card margin-2rem margin-right-6rem">
    <img src="img/05.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sàn đấu chuyên nghiệp</h5>
      <p class="card-text">Quansnet có khu thi đấu chuyên nghiệp, độc lập, tổ chức được giải đấu Esports lớn. Là địa điểm tin cậy và thường xuyên diễn ra các giải esports lớn nhỏ của Việt Nam cũng như khu vực. Tần suất đều đặn, có đội ngũ tổ chức giàu kinh nghiệm. </p>
    </div>
  </div>
</div>