<nav class="navbar navbar-expand-lg navbar-dark bg-dark" height="60px">
    <div class="collapse navbar-collapse" id="navbarText">
        
        <ul class="navbar-nav  ml-auto margin-left-4rem">
            <li class="nav-item">
                <a class="navbar-brand" href=""><img src="http://localhost:3000/img/logo.png" alt="" height="60px" ></a>
            </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/home">Về Quansnet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/food">Đồ ăn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drink">Đồ uống</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/game">Tài Khoản Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">Đơn Hàng</a>
            </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <a class="nav-link" href="/login">Đăng Nhập</a>
        </ul>
    </div>
</nav>