<div class="mt-4">
    <div class="container">
        <div class="add book text-right font-weight-bold ">
            <li class="nav-item dropdown" style="list-style: none;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Sắp xếp
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="list-style: none;">
                    <li><a class="dropdown-item" href="/food/title_asc">Title: A -> Z</a></li>
                    <li><a class="dropdown-item" href="/food/title_desc">Title: Z -> A</a></li>
                    <li><a class="dropdown-item" href="/food/price_desc">Giá giảm dần</a></li>
                    <li><a class="dropdown-item" href="/food/price_asc">Giá tăng dần</a></li>
                </ul>
            </li>

        </div>


        <div class="row g-4">
            {{#each fooddrink}}
            <div class="card col-lg-3 bg-black">
                <div class="card bg-dark card-book-item">
                    <a href="/food/{{this.id_fooddrink}}">
                        <img class="card-img-top" src="{{this.image}}" alt={{this.name}} height="250px">
                    </a>
                </div>

                <div class="card-body text-center">
                    <h2>{{this.price}} VNĐ</h2>

                    <div class="text-center">
                        <span class="fa fa-star" style="color:purple"></span>
                        <span class="fa fa-star" style="color:purple"></span>
                        <span class="fa fa-star" style="color:purple"></span>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

