<div class="container mt-4">
    <div class="row">
        <div class="">
            <button class="btn btn-primary btn-sm">Đọc</button>
            <button class="btn btn-primary btn-sm">Mua</button>
        </div>

        <div class="col-lg-9 text-center">
            <h2>{{fooddrink.name}}</h2>
            <img src="{{fooddrink.image}}">
            <h3>{{fooddrink.price}}VNĐ</h3>
        </div>
    </div>
</div>
