<div class="mt_4">
    <form method="POST" action="">
        <div class="form_group">
            <label for="search-input"> từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhapj">
        </div>
        <button type="submit" class="btn btn-primary"> timf kiesm</button>
    </form>
</div>